.header{
    height: 120px;
    background-image: linear-gradient(0,rgb(31, 30, 39),rgb(73, 73, 75));
   
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}   
.header__navbar-list{
list-style: none;
padding-left: 0;
margin-top: 6px;
display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    
}
.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0,0, 0.2);
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.5rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0 ;
    top:calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow:  0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top:-28px
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    right: 0;
    width: 63%;
    height: 8px;
    
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;

}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 100;
}
.header__navbar-item,
.header__navbar-item-link
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;

}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);


}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item--separate::after{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #fff;
  right: -9px;
  top: 45%;
  transform: translateY(-50%);

}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
  font-size: 1.8rem;
  margin:0 4px;
}
.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}
/* Header QR*/
.header__qr{
    width: 180px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 2;
}

.header__qr-img{
 width: 100%;
}
.header__qr-apps{
display: flex;
justify-content: space-between;

}
.header__qr-dowload-img{
    height: 15px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right:12px;
}
/*Header Notify*/
.header__notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: 90% top  ;
    animation: headerNotiGrow ease-in 0.2s ;
    will-change: opcity,transform;
    display: none;
    z-index: 2;
}
.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top:-28px
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -10px;
    height: 12px;
    
}
@keyframes headerNotiGrow{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
    display: flex;
    
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(73, 73, 75,0.1);

}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(73, 73, 75,0.1);
   
}
.header__notify-img{
    width: 60px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 1.4;
   
}


.header__notify-descr{
    line-height: 1.2rem;
    display: block;
    font-size: 13px;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify--footer{
    display: flex;

}
.header__notify--footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;

}
/* Auth Modal */
.auth-form{
    width: 500px;
    overflow: hidden;
    
}
.auth-form__container{
    padding: 0 32px;
    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 200;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    
   
}
.auth-form__aside{
    margin-top: 20px;
}
.auth-form__policy-text{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: rgb(102, 102, 190);
}
.auth-form__controls{
    margin-top: 70px;
    display: flex;
    justify-content: end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f1eaea;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
}
.auth-form__socials-icon{
    font-size: 1.6rem;
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__help-text{
    display: flex;
    justify-content: end;
}
.auth-form__help--p{
    font-size: 1.4rem;
   
    
}
.auth-form__help-text-separate{
    display: block;
    height: 15px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}
.header-with-search{
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
}
.header__logo{
    width: 200px;
    height: 84px;
    padding-left: 30px;
    
}
.header__logo-img{
    width: 150px;
    color: var(--white-color);
    height: 100%;
}
.header__search{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
}
.header__cart{
    width: 224px;
    text-align: center;
    
}
.header__cart-list::after{
    position: absolute;
    content: "";
    right: 4px;
    top:-30px;
    border-width:20px 26px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
   
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 2px;
}
.header__cart-warp{
position: relative;
display: inline-block;
padding: 0 10px;
cursor: pointer;

}
.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -7px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem  rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.5s;
    cursor: default;
    z-index: 1;
}
.header__cart-warp:hover .header__cart-list{
    display: block;
    
}
.header__cart-list--no-cart{
    padding: 24px 0;
}
.header__cart-no-cart-img{
    width: 60%;

}
.header__search-input-warp{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
    
    
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 100%;
    width: 55px;
    cursor: pointer;
    border-radius: 1px;
} 
.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 100;
    
}
.header__search-btn:hover{
    opacity: 0.9;
}
.header__search-input:focus ~ .header__search-history{
 display: block;
}
/* Search History */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.6rem;
    color: #999;
    font-weight: 100;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 0;

}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    
}

.header__search-history-item:hover{
  background-color: #eee9e9;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
/* App Container */
.app__container{
background-color: #f5f5f5;
}
.app__content{
    padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category_heading{
  font-size: 2.0rem;
  color: var(--text-color);
  padding: 12px 16px;
  border: 2px solid rgba(0,0,0,0.05);
  margin-top: 0;
}
.category_heading-icon{
    font-size: 1.8rem;
    margin-right: 4px;
    position: relative;
    top: -0.5px;
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item--active .category-item__link{
    color: rgb(243, 68, 68);;
}
.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    left: 6px;
    position: absolute;
    border:4px solid ;
    transform: translateY(calc(-50% - 1px));
    border-color:transparent transparent transparent red ;
}
.category-item__link{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s ;
    right: 0;
}
.category-item__link:hover{
    right: -4px;
    color: rgb(243, 68, 68);
}
/* Home */
.home-filter{
    
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: rgba(0,0,0,0.04);
    border-radius: 2px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter_label{
    font-size: 1.6rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page-num{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-right: 22px;
    
}
.home-filter__page-current{
    color:rgb(243, 68, 68) ;
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
/* Product Item */
.home-product-item{
 background-color: #f5f5f5;
 margin-top: 10px;
 cursor: pointer;
 margin-bottom: 30px;

}
.home-product-item__img{
padding-top: 100%;

background-size: contain;
}
.home-product-item__heading{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    
    color:#9E3500 ;
}



.home-product-item__name{
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.home-product-item__like{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}
i.home-product-item__like-icon-fill{
    display: none;
}
.home-product-item__like--liked i.home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty
{
 display: none;
}
.home-product-item__info{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #999;
    margin-bottom: 5px;
}

.home-product-item__price{
    font-size: 1.8rem;
    margin-top: 10px;
    display: flex;
}
.home-product-item__price-current{
    margin-right: 10px;
    line-height: 1.8rem;
    letter-spacing: 1px;
}
.home-product-item__price-old{
    letter-spacing: 1px;
    color: #9d9a9a;
    text-decoration: line-through;
}
.home-product-item__sale-prcent{
    margin-top: 10px;
    font-size: 1.8rem;
    color: green;
}
/* Pagination */
.pagination{
display: flex;
justify-content: center;
align-items: center;
list-style: none;

}
.pagination-item{
margin: 0 16px;
}
.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 2.0rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}
.pagination-item--active .pagination-item__link{
    background-color: rgb(243, 68, 68);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
   background-color:rgb(243, 98, 98); ;
}

.home-product__pagination{
    margin-top: 30px;
    margin-bottom: 32px;
}
/* footer */
.footer{
    border-top: 1px solid rgb(216, 214, 214);
    padding-top: 40px;
    margin-bottom: 50px;
    
}
.footer__heading {
font-size: 1.8rem;
color: var(--text-color);
font-weight: 300;
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    padding: 8px 0;
    display: block;
}
.footer-item__head-sub{
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    padding: 8px 0;
    display: block;
}

.footer-item__link:hover{
    color:rgb(243, 68, 68) ;
}
